[submodule "lib/extern/cuCollections"]
	path = lib/extern/cuCollections
	url = https://github.com/NVIDIA/cuCollections.git
[submodule "lib/cccl"]
	path = lib/cccl
	url = https://github.com/NVIDIA/cccl.git
[submodule "lib/extern/cccl"]
	path = lib/extern/cccl
	url = https://github.com/NVIDIA/cccl.git
